@use "../../styles" as *;

.section {
  @include area-box;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.input {
  @include gray-box;
}

.textarea {
  @include gray-box;

  resize: none;
}

.button {
  @include focus("large", $neutral-000, "dark");

  background-color: $primary-520;
  border-bottom: 2.6px solid $neutral-999;
  border-radius: 0.6rem;
  border-right: 2.6px solid $neutral-999;
  cursor: pointer;
  font-size: 1.4rem;
  padding: 1rem;
  transition: $default-transition;

  &:active {
    border-bottom: 0;
    border-left: 2.6px solid $neutral-999;
    border-right: 0;
    border-top: 2.6px solid $neutral-999;
  }

  &:hover {
    background-color: $primary-390;
  }
}
