@use "../../../styles" as *;

.layout {
  display: flex;
  justify-content: center;
  padding: 1.6rem;
}

.container {
  @include animated-background;
}

.section {
  @include area-box;
}

.title {
  font-size: 2.4rem;
  margin: 0;

  @include media-query($mobile-l) {
    font-size: 2rem;
  }
}

.description {
  margin: 0;
}
