// Paleta de cores

$primary-520: #0070f5;
$primary-390: #3992ff;

$secondary-940: #101010;
$secondary-870: #181818;
$secondary-750: #404040;
$secondary-690: #505050;

$neutral-999: #00000080;
$neutral-000: #ffffff;

$complementary: #ee7752, #e73c7e, #23a6d5, #23d5ab;
