@use "../../styles" as *;

.layout {
  display: flex;
  justify-content: center;
  padding: 1.6rem;
}

.container {
  animation: gradient 15s ease infinite;
  background-image: linear-gradient(-45deg, $complementary);
  background-size: 400% 400%;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  padding: 0.6rem;
  width: 100rem;
}

@include gradient;
