@use "../../styles" as *;

.modal {
  background-color: $secondary-870;
  border-color: $secondary-870;
}

.title {
  font-size: 1.6rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.input {
  @include gray-box;
}

.textarea {
  @include gray-box;
}

.button {
  font-size: 1.4rem;
}
