@use "../../styles" as *;

.todo_container {
  @include gray-box;

  align-items: center;
  display: flex;
  font-size: 1.6rem;
  padding: 0 1.6rem;
  transition: background-color 0.15s;

  &:hover {
    .option_container {
      display: flex;
    }
  }
}

.completed {
  border-left: 1rem solid $primary-520;
}

.todo {
  @include focus("small", $primary-390);

  cursor: pointer;
  flex: 1;
  padding: 1.6rem 0;
}

.option_container {
  align-items: center;
  display: flex;
  gap: 2rem;
  height: 100%;
}

.button {
  @include focus("small", $primary-390);

  background-color: transparent;
  cursor: pointer;
  display: flex;
}

.icon {
  transition: stroke 0.15s;

  &:hover {
    stroke: $primary-390;
  }
}

@include media-query($mobile-l) {
  .todo {
    font-size: 1.4rem;
  }

  .option_container {
    gap: 1rem;
  }

  .icon {
    height: 18px;
    width: 18px;
  }
}
