@use "../../styles" as *;

.header {
  @include area-box;

  align-items: center;
  display: flex;
}

.title {
  color: $neutral-000;
  font-size: 2.8rem;
  margin: 0;

  @include media-query($mobile-l) {
    font-size: 2.4rem;
  }
}
